<div class="main">
  <div class="text">
    <h1>Flores, Kaye L.</h1>
    <h2>Student</h2>
  </div>
  <div class="maintext">
    <h2>Email:</h2>
    <p>202211167&#64;gordoncollege.edu.ph</p>
    <h2>Contact Number</h2>
    <p>0992929292</p>
  </div>
  <div class="mainprof">
    <h2>About:</h2>
    <p>
      I’m a nice fun and friendly person, I’m honest and punctual, I work well
      in a team but also on my own as I like to set myself goals which I will
      achieve, I have good listening and communication skills. I have a creative
      mind and am always up for new challenges. I am well organized and always
      plan ahead to make sure I manage my time well.
    </p>
  </div>
  <div class="portfolio">
    <h2>My Drawing:</h2>
    <ul>
      <li><img src="assets/image1.png"></li>
      <li><img src="assets/image2.png"></li>
      <li><img src="assets/image3.png"></li>
      <li><img src="assets/image4.png"></li>
      <li><img src="assets/image5.png"></li>
    </ul>
  </div>
</div>
